@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Share+Tech&display=swap');

header {
    background-color: #ffffff;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 40px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

body {
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #3a3a3a; 
}

#menu a {
    text-decoration: none;
    color: #ffffff;
}

#menu a:hover {
    border-bottom: 1px solid #ffffff;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 40px;
}

#menu, #logo {
    line-height: 75px;
}

.tech-tips .tip-image { 
    display: block;
    margin: 5% auto auto auto;
}

.tech-tips h2 {
    margin-top: 5%;
    text-align: center;
}

.tech-tips p {
    text-align: center;
}

footer {
    padding-top: 20px;
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}

footer div {
    background-color: #6d6c6c;
}

header div {
    height: 150px;
    background-color: #6d6c6c;
}

/*subscribe and contact form CSS*/

#newsletter-signup {
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
} 

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    width: 100px;
    margin: 150px 10% 0 0;
    color: #fff;
    left: 10%;
    padding: 20px;
    padding-left: 20px;
    display:inline;
}

#fname, #lname, #email, #message, #button {
    background-color: #fafafa;  
    color: black;
    display: block;
    padding: 20px;
    padding-left: 20px;
    width: 400px;
    margin: auto;  
}

#contact, #subscribe {
    
    text-align: center;
}

#button {
    margin-top: 10px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.join-button {
    margin: auto;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

hr {
    clear: both;
    visibility: hidden;
}

#subscribe-footer {
    bottom: 0;
    width: 100%;
}

 @media only screen and (max-width : 500px) {

    .container {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    img {
        width:  100%;
    }

    a {
        text-align: center;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    header {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    #logo-text {
        font-size: 8px;
    }

    header div {
        height: 280px;
        padding-right: 20px;
    }

    footer div {
        padding-right: 20px;
    }

    #subscribe-footer {
        max-width: 340px;
        width: 100%;
        margin: 0 auto;
    }

    #menu li {
        display: inline-block;
        padding-right: 20px;
        margin: 0 auto;
    }

    #newsletter-signup {
        max-width: 340px;
        width: 100%;
        margin: 0 auto;
    }
 }

 @media only screen and (max-width : 960px) {

    .container {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    img {
        width:  100%;
    }

    a {
        text-align: center;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    header {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    #logo-text {
        font-size: 8px;
    }

    header div {
        height: 280px;
        padding-right: 20px;
    }

    footer div {
        padding-right: 20px;
    }

    #subscribe-footer {
        max-width: 340px;
        width: 100%;
        margin: 0 auto;
    }

    #menu li {
        text-align: center;
        font-size: 10px;
        margin-right: 50px;
    }

    h1 {
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }

    #newsletter-signup {
        max-width: 340px;
        width: 100%;
        margin: 0 auto;
    }

    .signup-form {
        width: 10px;
    }

    #fname, #lname, #email, #message, #button {
        width: 200px;  
    }
 }

 @media only screen and (max-width : 1280px) {
    .container {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    img {
        width:  100%;
    }

    a {
        text-align: center;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    header {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    #logo-text {
        font-size: 8px;
    }

    header div {
        height: 280px;
        padding-right: 20px;
    }

    footer div {
        padding-right: 20px;
    }

    #subscribe-footer {
        max-width: 340px;
        width: 100%;
        margin: 0 auto;
    }

    #menu li {
        display: inline-block;
        padding-right: 20px;
        margin: 0 auto;
        font-size: 10px;
    }

    #newsletter-signup {
        max-width: 340px;
        width: 100%;
        margin: 0 auto;
    }
 }